# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.LD48.iml
# Datasource local storage ignored files
/../../../../../../../:\Unity\unity-ld48\LD48\.idea\.idea.LD48\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
